<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= "First Name: #{@first_name}"%><br>
    <%= "Last Name: #{@last_name}"%><br>
    <%= "Company: #{@company}"%><br>
    <%= "Email: #{@email}"%><br>
    <%= "Phone: #{@phone}"%><br>
    <%= "CRM: #{@crm}"%><br>
    <%= "Message: #{@message}"%><br>
  </body>
</html>