/ = content_for(:head) do
/   %link{rel:"stylesheet", type:"text/css", href:"//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css"}
  
/ .carousel
/   %div
/     / = image_tag('techstars_logo.png', id: 'techstars_logo')
/     = render 'html_select'
/   %div
/     Slide 2
/   %div
/     Slide 3
/   %div
/     Slide 4

/ = render 'html_select'

%h3 Understand the power of MightySignal from the perspective of one of our customers.

#companies-dropdown
  = select_tag(:company_id, options_for_select([["Bizible", {'data-imagesrc'=> @bizible_logo,  'data-description' => "You are the VP of Sales."}], ["Placements.io", {'data-imagesrc'=> @placements_io_logo,  'data-description' => "You are the VP of Sales."}], ["AdRoll", {'data-imagesrc'=> @adroll_logo, 'data-description' => "tou are the head of Sales Operations."}]]))
  
= form_tag('/demo2') do
  = hidden_field_tag('company_index', "", id: 'company-field')
  = hidden_field_tag('boo[whee]', "blah")
  = submit_tag("Next")

/ = render 'slick_example'
  
/ %script{type:"text/javascript", src:"//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.min.js"}