<div class="row founder_row">
  <div class="small-4 columns">
    <%= image_tag("shane_wey_team_pic.jpg", class:"team_pic")%>
  </div>
  <div class="small-8 columns">
    <h3>Shane Wey</h3>
    <h5 class="subheader">CEO & Co-Founder</h5>
    <p>Shane is blah blah blah. He previously worked at <%= link_to "Lucasfilm", "http://www.lucasfilm.com" %>.<p>
    <div class="row">
      <div class="small-1 columns">
        <%= link_to image_tag("linkedin_icon.png"), "https://www.linkedin.com/in/shanewey", target: "_blank" %>
      </div>
      <div class="small-1 columns">
        <%= link_to image_tag("twitter_icon.png"), "https://twitter.com/Legendary_Shane", target: "_blank" %>
      </div>
      <div class="small-1 columns end">
        <%= link_to image_tag("github_icon.png"), "https://github.com/shanewey", target: "_blank" %>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="row founder_row">
  <div class="small-4 columns">
    <%= image_tag("jason_lew_team_pic.jpg", class:"team_pic")%>
  </div>
  <div class="small-8 columns">
    <h3>Jason Lew</h3>
    <h5 class="subheader">CTO & Co-Founder</h5>
    <p>Jason is blah blah blah<p>
  </div>
</div>