<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:html_title) ? "#{content_for(:html_title)} | MightySignal" : "Blog | MightySignal" %></title>
  <meta name="description" content="<%= content_for?(:meta_description) ? content_for(:meta_description) : "Blog | MightySignal" %>">
  <link rel="alternate" type="application/atom+xml" title="My Blog - Atom" href="<%= buttercms_blog_atom_path %>">
  <link rel="alternate" type="application/rss+xml" title="My Blog - RSS" href="<%= buttercms_blog_rss_path %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/lib/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <%= stylesheet_link_tag '/lib/blogs.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/lib/codrops_demo.css?body=1', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/lib/foundation_and_overrides.css?body=1', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/lib/hosting.css?body=1', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/lib/normalize.css?body=1', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/lib/main.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans', media: 'all' %>
  <%= stylesheet_link_tag '/lib/not_found.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400,700', media: 'all' %>
  <%= javascript_include_tag '/lib/jquery-2.1.3.min.js?body=1', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/lib/featherlight.js?body=1', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/lib/jquery.easing.1.3.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/lib/EasePack.min.js?body=1', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/lib/appSearch.js?body=1', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/lib/jquery.easy-autocomplete.min.js?body=1', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/lib/jquery.ddslick.min.js?body=1', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/lib/TweenLite.min.js?body=1', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/lib/demo-1.js?body=1', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/lib/web_form_modal.js?body=1', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/lib/ahoy.js?body=1', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/lib/script.js' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= javascript_include_tag '/lib/jquery.bxslider.min.js' %>
</head>
<body class="blog-container">

<%= render 'layouts/header' %>

<% if flash[:alert] %>
  <div class="alert-wrapper">
    <p class="alert"><%= flash[:alert] %></p>
  </div>
<% end %>

<%= yield %>

<% if @related_posts %>
  <%= render 'layouts/buttercms/related_reads' %>
<% end %>

<%= render 'layouts/buttercms/footer' %>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c6abb3963c62ed3"></script>


</body>
</html>
