<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
  <figure class="mdl-card__media">
    <%= link_to(buttercms_case_study_path(page.data.slug)) do %>
      <img class="interviewed-person-image" src="<%= asset_url(page_image(page)) %>" alt="<%= page.fields.interviewed_person_name %>">
    <% end %>
  </figure>
  <div class="mdl-card__title">
    <h2>
      <a class="header" href="<%= buttercms_case_study_path(page.data.slug) %>">
        <div class="header-interviewed-person"><%= page.fields.interviewed_person_name %></div>
        <div class="header-company"><%= page.fields.company_name %></div>
      </a>
    </h2>
  </div>
  <div class="mdl-card__supporting-text">
    <%= truncate(strip_tags(page.fields.case_study_body), length: 320, separator: " ") %>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <%= link_to "Read more", buttercms_case_study_path(page.data.slug), class: "mdl-button mdl-js-button mdl-js-ripple-effect" %>
    <div class="mdl-layout-spacer"></div>
    <div class="addthis_inline_share_toolbox" data-title="<%= page.fields.seo_title + ' | MightySignal' %>" data-url="<%= buttercms_case_study_path(page.data.slug) %>"></div>
  </div>
</div>