<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
  <figure class="mdl-card__media">
    <%= link_to '', buttercms_post_path(post.slug), html_options = {:style => "background-image: url(#{asset_url(post_image(post))}); background-size: contain; background-repeat: no-repeat; background-position: center; "} %>
  </figure>
  <div class="mdl-card__title">
    <%= link_to truncate(post.title, length: 40), buttercms_post_path(post.slug), class: "header" %>
  </div>
  <div class="mdl-card__supporting-text">
    <%= truncate(post.summary, length: 140) %>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <%= link_to "Read more", buttercms_post_path(post.slug), class: "mdl-button mdl-js-button mdl-js-ripple-effect" %>
    <div class="mdl-layout-spacer"></div>
    <div class="addthis_inline_share_toolbox" data-title="<%= post.title + ' | MightySignal' %>" data-url="<%= buttercms_post_url(post.slug) %>" data-media="<%= post_image(post) %>"></div>
  </div>
</div>
