<%= render 'buttercms/sub_header_for_blogs' %>

<div class="index-template">
  <%= render 'buttercms/blog_categories', style_class: 'mobile-search-widget' %>
  <%= render 'buttercms/blog_search', style_class: 'mobile-search-widget' %>
  <% if @posts.count > 0 %>
    <div class="mdl-grid posts-container">
      <% @posts.each do |post| %>
        <%= render :partial => 'posts_list_item', :locals => {:post => post, :style => ''} %>
      <% end %>
    </div>
  <% else %>
    <div class="not_found">
      <p>No posts were found</p>
    </div>
  <% end %>
  <div class="sidebar">
    <%= render 'buttercms/blog_categories', style_class: 'search-widget' %>
    <%= render 'buttercms/blog_search', style_class: 'search-widget' %>
    <%= render 'buttercms/newsletter' %>
    <%= render 'buttercms/request_demo' %>
  </div>
</div>

<%= paginate @paginatable_array, window: 2, outer_window: 1 %>
