<%= content_for :html_title, @post.seo_title %>
<%= content_for :meta_description, @post.meta_description %>

<article class="post">
  <header>

    <div class="img-container">
      <!-- Post image -->
      <%= image_tag(post_image(@post)) %>
    </div>
    <div class="info-container">

      <!-- Post title -->
      <h2><%= @post.title %></h2>

      <!-- Post author and date -->
      <span class="creator_and_date">
      <%= image_tag(author_profile_image(@post)) %>
        <%= "by " + author_full_name(@post) + " on " + date(@post) %>
      </span>

      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div class="addthis_sharing_toolbox"></div>

    </div>
  </header>

  <hr/>

  <div class="content">

    <!-- Post body -->
    <div class="content-body">
      <%= @post.body.html_safe %>
    </div>
    <!-- Subscribe-->
    <%= render 'buttercms/newsletter' %>

    <!-- Request a Demo -->
    <%= render 'buttercms/request_demo' %>

  </div>
</article>
